<%= form_for @message,  html: { multipart: true } do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="login">
<h2> New/Editing Message</h2>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :texto %>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br/>
  <%= link_to ' Back', messages_path, class: "fa fa-arrow-left", style: "color:black" %>
</div>
<% end %>
