<% @user = User.find_by(name: session[:user]) %>
<div class="container">
<h1> <strong>Publications</strong></h1>
<br/><br/>
  <% @messages.each do |message| %>
      <% 

        @aux = Like.new
        @aux.user = @user
        @aux.message = Message.find(message.id)
        @like_aux = Like.find_by(message_id: message.id, user_id: @aux.user.id)
        @shared_aux = Shared.find_by(message_id: message.id, user_id: @aux.user.id)
        @likes = Like.where(message_id: message.id)
        @shareds = Shared.where(message_id: message.id)
      %>
      <%if @shared_aux!=nil %><div id="messageShared"><%else%> <div id="message"><%end%>
        <div class="messager-user">
          <i style="color:black;" class="fa fa-user" aria-hidden="true"></i> <%= message.user.name %>
        </div>
        <p>Message:</p>
        <div class="message-content">
             <%= image_tag @aux.message.avatar.url(:thumb) %>
             <%= message.texto %>

        </div>
        <br>
        <div class="actions-message">
        <% if message.user.name == session[:user] || @user.admin == true %>
           <%= link_to ' Edit', edit_message_path(message), class: "fa fa-pencil" , style: "color:green" %>
            | <%= link_to ' Delete', message, method: :delete, data: {confirm: 'Are you sure?'}, class: "fa fa-trash-o" , style: "color:red" %>
        | <% end %>
        <% if @like_aux == nil%>

           <%= form_tag("/likes", method:"post", action:"create" , style: "display:inline;") do %>

            <%= hidden_field_tag :message_id, params[:message_id] , :value => message.id %>
            <%= hidden_field_tag :user_id, params[:user_id] , :value => @aux.user.id %>

          <button type="submit" class="enlace-boton"><i style="color:blue;margin-left: -5px;" class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>

                
             <% end %>
           
            <% elsif  @like_aux != nil && @aux.user.id == @like_aux.user_id %>
                 
                  <%= form_tag("/likes", method:"post", action:"create" , style: "display:inline;") do %>
                 
                  <%= hidden_field_tag :message_id, params[:message_id] , :value => message.id %>
                  <%= hidden_field_tag :user_id, params[:user_id] , :value => @aux.user.id %>
                  <button type="submit" class="enlace-boton"><i style="color:blue;margin-left: -5px;" class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>

                
                  <% end %>
        <% else %>
          
          <%= form_tag("/likes", method:"post", action:"create" , style: "display:inline;") do %>
          <%= hidden_field_tag :message_id, params[:message_id] , :value => message.id %>
          <%= hidden_field_tag :user_id, params[:user_id] , :value => @aux.user.id %>
          <button type="submit" class="enlace-boton"><i style="color:blue;margin-left: -5px;" class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>

                 
               <% end %>
        <% end %>
        <div id="totalLikes" style="display:inline;">
          <%= if @likes.size > 0 
                (@likes.size) 
              end %>
          </div>
        <% if @shared_aux == nil %>

            <%= form_tag("/shareds", method:"post", action:"create" , style: "display:inline;") do %>

            <%= hidden_field_tag :message_id, params[:message_id] , :value => message.id %>
            <%= hidden_field_tag :user_id, params[:user_id] , :value => @aux.user.id %>

          <button type="submit" class="enlace-boton"><i style="color:black;margin-left: -5px;" class="fa fa-share-alt" aria-hidden="true"></i></button>

                
             <% end %>
        <% end %>
          <div id="peopleLike">
            <p style="font-weight: bold;display:inline">People like:</p>
            <% @likes.each do |like|  @user_like = User.find(like.user_id) %>
            <p style="display:inline;"><%= @user_like.name+"," %></p>
            <% end %>
            
          </div>
          <div id="peopleShared">
            <p style="font-weight: bold;display:inline">Shared by:</p>
            <% @shareds.each do |shared| @user_shared = User.find(shared.user_id) %>
            <p style="display:inline;"><%=          
             @user_shared.name %></p>
            <% end %>
            
          </div>
        </div>
       
        <div >
          <p class="published"><%= "Posted "+time_ago_in_words(message.created_at) %></p>
        </div>
      </div>
      <%end%>
</div>