<%= form_tag("/login", method:"post") do %>

<div class="login">
	<h2>Log in</h2>

	<div class="field">
		<%= label_tag :username %>
		<%= text_field_tag :username, params[:username] , placeholder: "Username" %>
	</div>

	<div class="field">
		<%= label_tag :password %>
		<%= password_field_tag :password, params[:password], placeholder: "Password"%>
	</div>

	<input type="submit" value="Login"></input>

</div>
<% end %>