<div class="container">
<div class="panel panel-default">

  <div class="panel-heading"><h1>People</h1></div>
  <table class="table">
  <thead>
    <tr>
      <th style="text-align: center;">User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user|
      @request = Friend.where("userA_id = ? or userB_id = ?",user.id, user.id) %>
      <% if session[:user] != user.name %>
        <tr>
          <td style="text-align: center;"><%= user.name %></td>
          <td style="text-align: center;">
          <% if @request == [] %>
            <%@friend = Friend.new%>
            <%= link_to " Friend request", friends_path(@friend, :friend => {:userA_id => @user.id, :userB_id => user.id, :estado => false}), :method => :post, class: "fa fa-user-plus btn btn-success" %>
          <%else%>
             <% @request.each do |peticion| %>
                <% if peticion.estado == true %>
                  <%= link_to " Delete friend", peticion, method: :delete, data: {confirm: 'Are you sure?'},class: "fa fa-trash-o btn btn-danger" %>
                <% else %>
                    <%= link_to " Accept", friend_path(peticion, :friend => {:estado => true}), :method => :put, class: "fa fa-check btn btn-success" %>
                    <%= link_to " Cancel", peticion, method: :delete, class: "fa fa-times btn btn-danger" %>
                <% end %>
            <%end%>
          <%end%>
          </td>
        </tr>
      <% end %>
  <%end%>
  </tbody>
</table>

</div>
</div>

