<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shared.user %>
</p>

<p>
  <strong>Message:</strong>
  <%= @shared.message %>
</p>

<%= link_to 'Edit', edit_shared_path(@shared) %> |
<%= link_to 'Back', shareds_path %>
