<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="login">
<% if request.path == "/users/new"  %>
  <% @user2 = User.new %>
  <% @user = User.find_by(name: session[:user]) %>
<% else %>
<% @user = User.find_by(name: session[:user]) %>
<% end %>
<h2>User</h2>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

<% if session[:user] && @user.admin ==true %>
  
   <div class="field">
    <%= f.label :admin %><br>
    <%= f.check_box :admin %>
  </div>
<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<%end%>
