<% @user = User.find_by(name: session[:user]) %>
<div class="container">
<div class="panel panel-default">

  <div class="panel-heading"><h1>Listing Users</h1></div>
  <div class="panel-body" style="float:right;">
      <%= link_to 'New User ', new_user_path , class: "fa fa-user-plus" , style: "color:black" %>
  </div>
  <table class="table">
  <thead>
    <tr>
      <th style="text-align: center;">Name</th>
      <th style="text-align: center;">Password</th>
      <th style="text-align: center;">Admin</th>
      <th style="text-align: center;">Show</th>
      <th style="text-align: center;">Edit</th>
      <th style="text-align: center;">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td style="text-align: center;"> <%= user.name %></td>
        <td style="text-align: center;"><%= user.password %></td>
        <td style="text-align: center;"><%= user.admin %></td>
        <td style="text-align: center;"><%= link_to '', user, class: "fa fa-eye", style: "color:green" %></td>
        <td style="text-align: center;"><%= link_to '', edit_user_path(user) , class: "fa fa-pencil-square-o" , style: "color:orange" %></td>
        <td style="text-align: center;"><%= link_to '', user, method: :delete, data: { confirm: 'Are you sure?' } , class: "fa fa-trash" , style: "color:red" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>


<br>
</div>